<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   id="WebApp_ID" version="3.0">
   <display-name>Website Nông Sản</display-name>
      
   <servlet>
       <servlet-name>addCategory</servlet-name>
       <servlet-class>nongsan.webmvc.controller.admin.CategoryAddController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>addCategory</servlet-name>
       <url-pattern>/admin/cate/add</url-pattern>
   </servlet-mapping>
     
   <servlet>
       <servlet-name>listCategory</servlet-name>
       <servlet-class>nongsan.webmvc.controller.admin.CategoryListController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>listCategory</servlet-name>
       <url-pattern>/admin/cate/list</url-pattern>
   </servlet-mapping>
 
  <servlet>
       <servlet-name>addAdmin</servlet-name>
       <servlet-class>nongsan.webmvc.controller.admin.AdminAddController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>addAdmin</servlet-name>
       <url-pattern>/admin/admin/add</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>listAdmin</servlet-name>
       <servlet-class>nongsan.webmvc.controller.admin.AdminListController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>listAdmin</servlet-name>
       <url-pattern>/admin/admin/list</url-pattern>
   </servlet-mapping>
   
    <servlet>
       <servlet-name>deleteAdmin</servlet-name>
       <servlet-class>nongsan.webmvc.controller.admin.AdminDeleteController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>deleteAdmin</servlet-name>
       <url-pattern>/admin/admin/delete</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>editAdmin</servlet-name>
       <servlet-class>nongsan.webmvc.controller.admin.AdminEditController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>editAdmin</servlet-name>
       <url-pattern>/admin/admin/edit</url-pattern>
   </servlet-mapping>
   
</web-app>